<h1>Inicio de Sesion</h1>

<form action="/api/session/login" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="password" value="password" placeholder="Contraseña">
    <button type="submit">Login</button>

</form>