<h1>Registrate</h1>

<form action="/api/session/register">
    <input type="text" name="Nombre" placeholder="Nombre" >
    <input type="text" name="Apellido" placeholder="Apellido">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">

    <button>Register Now</button>

    <p>Ya tengo una cuenta</p>
    <a href="/api/session/login"></a>

</form>